
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuartzDurableHome - Job 持久化、集群</title>
    <!-- bootstrap.min.css -->
    <link type="text/css" href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <!-- style.min.css -->
    <link type="text/css" href="~/Content/Css/style.min.css" rel="stylesheet" />
    <!-- font-awesome.min.css -->
    <link type="text/css" href="~/Content/Css/font-awesome.min.css" rel="stylesheet" />
    <!-- uploadify.css -->
    <link type="text/css" href="~/Content/Css/uploadify.css" rel="stylesheet" />
    <!-- toastr.min.css -->
    <link type="text/css" href="~/Content/Css/toastr.min.css" rel="stylesheet" />
    <!-- bootstrap-datetimepicker.min.css -->
    <link type="text/css" href="~/Content/Css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style type="text/css">
        .btn-title {
            padding: 2px 15px;
        }
    </style>
</head>
<body class="gray-bg">
    <div id="job-durable">
        <div class="full-height-scroll">
            <div>
                <a data-toggle="modal" href="#modal-form-Durable" class="btn btn-white btn-bitbucket btn-title" title="新建">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <div style="margin-left:50px;margin-top:-25px;" title="上传">
                    <div id="some_file_queue" style="display:none;"></div>
                    <a style="position:absolute;right:50px;" class="btn btn-white btn-bitbucket btn-title" title="上传" id="uploadify">
                        <input type="file" name="uploadify" />
                    </a>
                </div>
            </div>
            <!-- Table 表格， 列表 -->
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:4%;">编号</th>
                        <th style="width:5%;">任务名称</th>
                        <th style="width:8%;">任务分组名称</th>
                        <th style="width:5%;">触发器名称</th>
                        <th style="width:5%;">触发器组名称</th>
                        <th style="width:10%;">任务执行周期</th>
                        <th style="width:10%;">启动时间</th>
                        <th style="width:10%;">本次执行时间</th>
                        <th style="width:10%;">下次执行时间</th>
                        <th style="width:6%;">是否删除</th>
                        <th style="width:5%;">描述</th>
                        <th style="width:5%;">状态</th>
                        <th style="width:5%;">操作</th>
                    </tr>
                </thead>
                <tbody id="jobListTbody">
                    <tr v-for="job in jobList" data-jobId="job.JobId">
                        <td v-for="(val, jobKey) in job" v-bind:name="jobKey">{{val}}</td>
                        <td>
                            <button v-if="checkExists(job)" v-on:click.stop="runJob(job)" style="margin: 5px;" class="btn btn-primary btn-xs" type="button">
                                <i class="glyphicon glyphicon-play"></i> 运行
                            </button>
                            <button v-on:click.stop="pauseJob(job)" style="margin: 5px;" class="btn btn-primary btn-xs" type="button">
                                <i class="glyphicon glyphicon-pause"></i> 暂停
                            </button>
                            <button v-on:click.stop="resumeJob(job)" style="margin: 5px;" class="btn btn-primary btn-xs" type="button">
                                <i class="glyphicon glyphicon-play"></i> 恢复
                            </button>
                            <button v-on:click.stop="deleteJob(job)" style="margin: 5px;" class="btn btn-primary btn-xs" type="button">
                                <i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Job Quartz.NET表单，弹出窗口 -->
        <div id="modal-form-Durable" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="job-data">
                        <form role="form" id="job-form">
                            <div class="row">
                                <div class="col-sm-6 b-r">
                                    <div class="form-group">
                                        <label>任务名称：</label>
                                        <input type="text" name="jobName" v-model="jobName" required="required" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>任务组名称：</label>
                                        <input type="text" name="jobGroupName" v-model="jobGroupName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>执行类名：</label><br />
                                        <input type="text" name="fullJobName" v-model="fullJobName" class="form-control fullJobName">
                                    </div>
                                    <div class="form-group">
                                        <label>请求地址：</label><br />
                                        <input type="text" name="requestUrl" v-model="requestUrl" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>任务描述：</label>
                                        <input type="text" name="description" v-model="description" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>触发器名称：</label>
                                        <input type="text" name="triggerName" v-model="triggerName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>触发器组名称：</label>
                                        <input type="text" name="triggerGroupName" v-model="triggerGroupName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>任务开始时间：</label>
                                        <input type="text" name="startTime" id="datetimepicker-start" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label>任务结束时间：</label>
                                        <input type="text" name="endTime" id="datetimepicker-end" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label>执行周期表达式：</label>
                                        <input type="text" name="cron" v-model="cron" placeholder="* * * * * ?" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button v-on:click="addJob(this)" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button">
                                    <strong>提交</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery-1.10.2.min.js -->
    <script type="text/javascript" src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
    <!-- bootstrap.min.js -->
    <script type="text/javascript" src="~/Content/Scripts/bootstrap.min.js"></script>
    <!-- jquery.uploadify.min.js -->
    <script type="text/javascript" src="~/Content/Scripts/jquery.uploadify.min.js"></script>
    <!-- toastr.min.js -->
    <script type="text/javascript" src="~/Content/Scripts/toastr.min.js"></script>
    <!-- bootstrap-datetimepicker.min.js -->
    <script type="text/javascript" src="~/Content/Scripts/bootstrap-datetimepicker.min.js"></script>
    <!-- bootstrap-datetimepicker.zh-CN.js -->
    <script type="text/javascript" src="~/Content/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- vue.min.js -->
    <script type="text/javascript" src="~/Content/Scripts/vue.min.js"></script>
    <!-- webScripts.QuartzManager.js -->
    <script type="text/javascript" src="~/Content/WebScripts/webScript.QuartzDurable.js"></script>

</body>
</html>
